cowrie.cfg.local
cowrie.pid
etc/ssh_host_dsa_key
etc/ssh_host_dsa_key.pub
etc/ssh_host_rsa_key
etc/ssh_host_rsa_key.pub
.envrc
.direnv/
.pytype/
__pycache__/
*.py[cod]
*env/
src/cowrie/_version.py
src/twisted/plugins/dropin.cache
.DS_Store
_trial_temp
.project
.pydevproject
.idea/
.tox
